[
    ("youtube", ["joueurdugrenier", "languedepub2", "AsapSCIENCE", "DanyCaligula", "pbsideachannel", "faireset2", "deadwattsofficiel", "minutephysics"])
   ,("eztv",    ["vikings", "supernatural", "helix", "game of thrones", "revolution", "the walking dead"])
]
