Config {
    application = Application {
          listenOn = 8086
        , updateFrequencyInMin = 60
    }
    , services = Services {
          youtube = Youtube [ "hearthstonefr", "trolden1337", "hsepicplays",  "joueurdugrenier" ]
        , reddit = Reddit ["programming", "haskell", "unixporn"]
        , serie = Serie [ "constantine", "the Flash", "grimm", "The big bang theory", "supernatural", "helix"]
        , anime = Anime ["613", "676", "703"]
        , forecast = Forecast ["valbonne,fr", "guethary,fr", "lyon,fr"]
    }
}
