[
    ("video", ["joueurdugrenier", "languedepub2", "AsapSCIENCE", "DanyCaligula", "pbsideachannel", "faireset2", "deadwattsofficiel", "minutephysics"])
   ,("serie", ["grimm", "vikings", "supernatural", "helix", "game of thrones", "revolution", "the walking dead"])
   ,("meteo", ["valbonne,fr", "guethary,fr"])
]
