[Unit]
Description=Homepage provider
Wants=network.target
After=network.target

[Service]
Type=oneshot
User={{ user }}
ExecStart=/bin/sh -c "cd; awk '/###DATA###/{system(\"crawler\");next}1' index_template.html > index_full.html; mv index_full.html homepage/index.html"

[Install]
WantedBy=multi-user.target
