[Unit]
Description=Homepage provider
Wants=network.target
After=network.target

[Service]
Type=simple
User=erebe
ExecStart=/home/erebe/.local/bin/crawler
Restart=always
#WatchdogSec=60
#TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
