[Unit]
Description=Homepage provider
Wants=network.target
After=network.target

[Service]
Type=simple
User=erebe
Environment=HOME=/home/erebe
WorkingDirectory=/home/erebe/Programme/Haskell/crawler
ExecStart=/home/erebe/Programme/Haskell/crawler/.cabal-sandbox/bin/crawler
Restart=always
#WatchdogSec=60
#TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
